/*------------------------------------------------------------------
[Stylesheet]
Responsiveness Fixes
-------------------------------------------------------------------*/

@media (max-width: 337px){
	.navigation_desktop ul {
    	margin-top:-2rem;
	}
}


@media (max-width: 479px) {
	.mockup{
		display:none !important
	}
	
	#main_content {
		text-align:center!important;
		margin-right:15px;
	}
	
	.countdown_part {
		padding-left:1.2rem;
		padding-right:1.2rem;
	}
	
	.countdown_part h1 {
		font-size: 2rem;
		line-height:1rem !important;
	}
	
	.content_container h2 {
		font-size: 2rem;
		line-height:2rem;
	}
	
	.input-field .prefix {
		display:none;
	}
	
	.input-field .prefix ~ input {
		margin-left:0;
		width:100%;
	}
	
	.input-field .prefix ~ label {
    	margin-left: 0;
    }
    
    .newsletter_form button {	
		margin-top:0.5rem;
		margin-left:0;
	}
	
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.unhappyMessage {
		margin-left:0;
	}
	
	#more_info {
		padding-top:2rem;
		padding-bottom:2rem;	
	}
	
	#message h4{
    	font-size: 1.2rem;
    	line-height: 2.06rem;
	}
	
	#message {
		width:100%;
		margin: 0;
		max-height:100%;
		margin-left:-50%;
		margin-top:-50%;
	}
	
	.navigation_desktop ul li, .menu_bar_navigation ul li { float:right; }	
	.mockup_container img.mockup_front {position: relative;}
	.play a {margin:7rem auto}
	.home_mockup_image {top:0rem;}

	.chat-bubbles {
		height: 350px;
		padding-top: 150px;
		padding-left: 1.5%;
		padding-right: 1.5%;
	}

	.bubble {
		margin-bottom: 15px;
	}

	h2.slogan {
		letter-spacing: -0.13rem;
    font-size: 2rem;
    line-height: 3rem;
	}
	
}

@media (min-width: 480px) and (max-width: 767px) {
	.mockup{
		display:none !important
	}
		
	#main_content { 
		text-align:center!important;		
	}

	.home_mockup_image {
			top:0rem
	}
	
	.social_icons_container {
    	text-align:center!important
	}
	
	.countdown_part {
		padding-left:1.2rem;
		padding-right:1.2rem;
	}
	
	#message h4{
    	font-size: 1.2rem;
    	line-height: 2.06rem;
	}
	
	#message {
		width:100%;
		margin: 0;
		max-height:100%;
		margin-left:-50%;
		margin-top:-50%;
	}
	
	.navigation_desktop ul li, .menu_bar_navigation ul li { float:right; }	
	.mockup_container img.mockup_front {position: relative;}



	
}

@media (min-width: 768px) and (max-width: 991px) {
	.mockup.mockup-right img { width:18rem; }	
	.mockup.mockup-left img { width:18rem; }
	.navigation_desktop ul li, .menu_bar_navigation ul li { float:right; }
	.home_mockup_image { top:0rem }
	#main_content { text-align:center!important; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.mockup.mockup-right img { margin-right:0; width:25rem; }
	.mockup.mockup-left img { margin-left:0; width:25rem; }
	.home_mockup_image { top:-20rem }	

}


@media (max-width: 479px) {
.content_container h2 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin: 0 5%;
	}

	h3, h6, p, ul, button {
		padding: 0 5%;
	}

	.gif-demo {margin-top: 0;}

	.intro {padding: 20px 0 0 0;}

	.subsection {
    padding-top: 0;
	}

	
	ul.icon_list li {
		margin-bottom: 20px
	}

	ul.icon_list h6 {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7rem;
    opacity: .6;
  }

  #community-impact p {
   	margin-bottom: 0;
   }

  #gif-demo a,
  #join-beta .cta a {
   	display: table;
   	margin-right: auto;
   	margin-left: auto;
   	margin-bottom: 40px;
   }

  .cta h5 {
  	text-align: center;
  	font-size: 1.8rem;
  }

  #team h3 {
  	margin-bottom: 40px;
  }

  .button-icon-with-border {
    margin-left: 15px;
    float: right;
    padding: 7px 20px 7px 10px;
    line-height: 50px;
	}

	.iconbox h6 {
		font-size: 1.2rem;
		line-height: 1.8rem
	}

	.iconbox p {
    opacity: 0.75;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 0rem;
    line-height: 2rem;
    margin: .7rem 0px 1.92rem 0px;
}

}