/ Features ####################
%section#features.subsection.background_white
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .mockup_container
          %img.img_responsive.mockup_back.content_anim10{:alt => "", :src => "images/mockups/1/back.png"}/
      .col-xs-12.col-sm-6.col-md-6.col-lg-6
        %br/
        %br/
        %br/
        %br/
        %br/
        .intro.content_anim6
          %h6.super-title
            / <img src="images/logo_light.png" alt="logo" class="logo"/>
            Talk to Raheem
          %h3
            Help us improve police performance by sharing your experiences with Raheem.
          %p Raheem is a Facebook Messenger chat bot here to listen to your stories about police interactions, and make our communities better.
          / <img src="images/logo_light.png" alt="logo"/>
          .row
            .col-md-9
              %h5.light.smaller
                Pretty cool, right? We thought so too.
                / Now, try to it for yourself. Just click below
          / CTA Buttons
          %div
            %button.btn-large.bold.btn.waves-effect.waves-light.subscribe-submit
              Talk to Raheem
              %span.button-icon-with-border
                %img{:height => "40", :src => "images/assets/messenger-icon@2x.png"}/
          / //CTA Buttons
/ //Features
