%section#footer.subsection
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12.align-center
        / Social Icons
        .social_icons_container.align-center
          .social_icons
            %ul
              %li
                .social_icon.facebook_icon{"data-icon" => "", :onclick => "location.href='#'"}
              %li
                .social_icon.linkdin_icon{"data-icon" => "", :onclick => "location.href='#'"}
        / //Social Icons
        %p
          %small Copyright © 2016 Raheem AI Coded with ❤ by OpenVentures
/ //More info
/ //preloader
