/ Mobile nav
#cbp-spmenu-s2.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
  .mobile_nav_close_button
    %a#hideRight{:href => ""}
      .button_icon.close_icon{"data-icon" => ""}
  %nav#mobile_menu_content
    %a{:href => "#more_info"} Meet Raheem
    %a{:href => "#features"} Join the Beta
    %a{:href => "#features_video"} Product Roadamp
    %a{:href => "#reviews_logos"} Team
    %a{:href => "#screenshots"} Screenshots
    %a{:href => "#contact"} Contact
/ //Mobile nav
