/ More Info ####################
%section#more_info.menu_bar-waypoint.subsection.background_grey{"data-animate-down" => "menu_bar-show", "data-animate-up" => "menu_bar-hide"}
  .container
    %br/
    %br/
    .intro.content_anim6
      %h6.super-title Join the Beta
      %h3 We need 2,000 registered beta users to help us test, optimize, and validate Raheem by January 1, 2017.
      %br/
      %br/
      .row
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          .iconbox.content_anim3
            .iconbox_icon{"data-icon" => ""}
            .iconbox_content
              %h6.overview-title STEP 1
              %h6
                Become a Beta Tester
              %p Join our Facebook group to become a Raheem beta tester.
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          .iconbox.content_anim4
            .iconbox_icon{"data-icon" => ""}
            .iconbox_content
              %h6.overview-title STEP 2
              %h6 Start Talking to Raheem
              %p Talk to Raheem and post product feedback on Facebook.
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          .iconbox.content_anim5
            .iconbox_icon{"data-icon" => ""}
            .iconbox_content
              %h6.overview-title STEP 3
              %h6 Take a Super Quick Survey
              %p Complete a brief product experince survey.
  #screenshots_gallery.content_anim7
    .owl-carousel-screenshots
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/1.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/1.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/2.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/2.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/3.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/3.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/4.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/4.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/5.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/5.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/6.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/6.jpg"}/
      %div
        %a{"data-lightbox-gallery" => "gallery1", :href => "images/screenshots/7.jpg"}
          %img.shadow{:alt => "", :src => "images/screenshots/7.jpg"}/
/ //More info
