%section#team.subsection
  .container
    .row
      .col-xs-12.col-sm-6.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
        .intro.content_anim12.align-center
          %h6.super-title Our Product Team
          %h3 Making the world a better place.
          %p Raheem is a project that is two years in the making. Thank you to our amazing and talented contributors that have made this journey possible.
    .row.team-photos
      .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
        %img{:alt => "", :src => "images/team/brandon.png"}
          %h6 Brandon Anderson
          %p Founder, Activist and Social Innovator
        .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
          %img{:alt => "", :src => "images/team/khadijah.png"}
            %h6 Khadijah A. Coakley
            %p Chief Product Lead and Financial Strategist
          .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
            %img{:alt => "", :src => "images/team/fred.png"}
              %h6 Fred Zaw
              %p Product Design Lead and UX Design
            .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
              %img{:alt => "", :src => "images/team/anu.png"}
                %h6 Anu Mohajerjasbi
                %p User Research Lead and UX Design Strategist
              .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                %img{:alt => "", :src => "images/team/marquise.png"}
                  %h6 Marquise McCoy
                  %p Public Relations and Media Strategist
                .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                  %img{:alt => "", :src => "images/team/michael.png"}
                    %h6 Michael J. A. Davis
                    %p Branding, Identity and UX Design Strategist
                .row.team-photos
                  .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                    %img{:alt => "", :src => "images/team/jordan.png"}
                      %h6 Jordan Lawler
                      %p Lead FB Messenger Bot and API Developer
                    .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                      %img{:alt => "", :src => "images/team/zack.png"}
                        %h6 Zachary Rolland
                        %p Facebook Messenger Bot Developer
                      .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                        %img{:alt => "", :src => "images/team/ketan.png"}
                          %h6 Ketan Anjaria
                          %p Lead Technical Advisor, Rails  API Development
                        .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                          %img{:alt => "", :src => "images/team/phillip.png"}
                            %h6 Phillip Hunter
                            %p Lead Content Strategist and UX Advisor
                          .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                            %img{:alt => "", :src => "images/team/chi.png"}
                              %h6 Chi Thorsen
                              %p Apprentice Designer at Junior.io
                            .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                              %img{:alt => "", :src => "images/team/ryan.png"}
                                %h6 Ryan Bealer
                                %p Lead FB Messenger Bot and API Developer
                            .row.team-photos
                              .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                %img{:alt => "", :src => "images/team/sam.png"}
                                  %h6 Sam Weiller
                                  %p Technical Advisor and FB Messenger Bot Developer
                                .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                  %img{:alt => "", :src => "images/team/najja.png"}
                                    %h6 Najja Osiomwan
                                    %p API Lead, Technical Researcher and Advisor
                                  .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                    %img{:alt => "", :src => "images/team/nicole.png"}
                                      %h6 Nicole Concepcion
                                      %p Product Experience Designer and Advisor
                                    .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                      %img{:alt => "", :src => "images/team/colleen.png"}
                                        %h6 Colleen Julliano
                                        %p FB Messenger Bot Content Strategist
                                      .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                        %img{:alt => "", :src => "images/team/arman.png"}
                                          %h6 Arman Nobari
                                          %p UX Design and Strategy Advisor
                                        .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                          %img{:alt => "", :src => "images/team/baraka.png"}
                                            %h6 B. Kombe-Jarvis
                                            %p API Lead, Technical Researcher and Advisor
                                        .row.team-photos
                                          .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                            %img{:alt => "", :src => "images/team/renna.png"}
                                              %h6 Renna Al-Yassini
                                              %p Lead Product and FB Messenger Bot Advisor
                                            .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                              %img{:alt => "", :src => "images/team/rinee.png"}
                                                %h6 Rinee Shah
                                                %p Brand and Identity Lead, Art  Creative Direction
                                              .col-xs-6.col-sm-4.col-md-3.col-lg-2.reviews_logo
                                                %img{:alt => "", :src => "images/team/anthony.png"}
                                                  %h6 Anthony Cook
                                                  %p Coporate Advisor and Professor of Law
                                          / //Reviews - Logos
