<!-- Mobile nav -->      
<!-- //Mobile nav -->
  
#preloader_container

	<!-- Preloader Screen -->
	<!-- //Preloader Screen -->

		<!-- Fullscreen homepage -->
				

			<!-- Logo and navigation -->
		  <!-- //Logo and navigation -->


			<!-- Main content -->
		  <!-- //Main content -->
			
			
			<!-- Slider Background -->
			<!-- //Slider Background -->
			
			
			<!-- Single Image Background -->
			<!-- //Single Image Background -->
			
			
		<!-- //Homepage -->
		
		
		<!-- Menu bar -->
		
		<!-- // Menu bar -->


		<!-- Reviews -->
		<!-- //Reviews - Logos-->

		<hr/>
		
	
		

		<!-- Features #################### -->
		
		<section id="features" class="subsection background_white">
			<div class="container">
				<div class="row">
				
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="mockup_container">
						<img src="images/mockups/1/back.png" alt="" class="img_responsive mockup_back content_anim10" />	
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<br/><br/><br/><br/><br/>
						<div class="intro content_anim6">
							<h6 class="super-title"> <!-- <img src="images/logo_light.png" alt="logo" class="logo"/> --> Talk to Raheem</H6>
							<h3>
								Help us improve police performance by sharing your experiences with Raheem.
							</h3>
							<p>Raheem is a Facebook Messenger chat bot here to listen to your stories about police interactions, and make our communities better.</p>
							
							<!-- <img src="images/logo_light.png" alt="logo"/>  -->


						<div class="row">
							<div class="col-md-9">
								<h5 class="light smaller">Pretty cool, right? We thought so too. <!-- Now, try to it for yourself. Just click below --></h5>
							</div>
						</div>
						<!-- CTA Buttons-->
						<div>
							<button class="btn-large bold btn waves-effect waves-light subscribe-submit">Talk to Raheem
								<span class="button-icon-with-border">
									<img class="" src="images/assets/messenger-icon@2x.png" height="40"/>
								</span>
							</button>
						</div>
						<!-- //CTA Buttons-->
										
						</div>

						
							
					</div>
				</div>				
			</div>	
		</section><!-- //Features -->
		

		
			<!-- More Info #################### -->
		
		<section id="more_info" data-animate-down="menu_bar-show" data-animate-up="menu_bar-hide" class="menu_bar-waypoint subsection background_grey">
			
			<div class="container">
				<br/><br/>
				<div class="intro content_anim6">
					<h6 class="super-title">Join the Beta</H6>
					<h3>We need 2,000 registered beta users to help us test, optimize, and validate Raheem by January 1, 2017.</h3>
					<div class="row">
						<div class="col-md-6">
							
						</div>
					</div>
					<br/><br/>
					<!-- <h6 class="overview-title">Our Beta Roadmap:</h6> -->

					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="iconbox content_anim3">
								<div data-icon="&#xe075;" class="iconbox_icon"></div>
								<div class="iconbox_content">
									<h6 class="overview-title">STEP 1</h6>
									<h6>Become a Beta Tester</h5>
									<p>Join our Facebook group to become a Raheem beta tester.</p>
								</div>
							</div>	
						</div>
						
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="iconbox content_anim4">
								<div data-icon="&#xe259;" class="iconbox_icon"></div>
								<div class="iconbox_content">
									<h6 class="overview-title">STEP 2</h6>
									<h6>Start Talking to Raheem</h6>
									<p> Talk to Raheem and post product feedback on Facebook.</p>
								</div>
							</div>	
						</div>
						
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="iconbox content_anim5">
								<div data-icon="&#xe560;" class="iconbox_icon"></div>
								<div class="iconbox_content">
									<h6 class="overview-title">STEP 3</h6>
									<h6>Take a Super Quick Survey</h6>
									<p>Complete a brief product experince survey.</p>
								</div>
							</div>	
						</div>
					</div>
				</div>	
			</div>			


			<div class="content_anim7" id="screenshots_gallery">
				<div class="owl-carousel-screenshots">
					<div><a href="images/screenshots/1.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/1.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/2.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/2.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/3.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/3.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/4.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/4.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/5.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/5.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/6.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/6.jpg" class="shadow" alt=""></a></div>
					<div><a href="images/screenshots/7.jpg" data-lightbox-gallery="gallery1" ><img src="images/screenshots/7.jpg" class="shadow" alt=""></a></div>
				</div>
			</div>

		</section><!-- //More info -->
		
		
	


	<!-- Features - Video #################### -->
		
		<section id="features_video" class="subsection background_slider background_solid background_blue">
			<div class="container">
			
			<!-- 	<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 play content_anim11">
						<a href="#video_modal_box" data-lightbox-type="inline" class="btn waves-effect waves-light" id="Play_Video">Play Video</a>	
					</div>
				</div> -->

				<!-- Video - lightbox -->
				<!-- <div id="video_modal_box" style="display:none; background:white">
					<iframe src="//player.vimeo.com/video/120433187?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
				</div> -->
				<!-- //Video - lightbox -->

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="intro content_anim12">
							<h6 class="super-title light-orange">Product Roadmap</H6>
							<h3>Raheem will be the first police rating and experience tracking tool available to civc leaders.</h3>
							<!-- <p>With your support Raheem will launch in 2017 as the first police experience rating tool to be developed alongside civic leaders, community organizers, and police officers.</p>	 -->

							<p><strong>All user-generated police ratings and experiences captured by Raheem will be made anonymous</strong>.</p>	 
							<!-- As our user base grows, data visualization and analytics tools will be available via a community policing dashboard. -->
						</div>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
						<br/><br/>
						<ul class="icon_list">
							<!-- <li class="content_anim13"><div data-icon="&#xe0be;" class="icon_small float-left"></div><h6>Raheem FB Messenger Bot completed. Closed Beta Launched</h6>
							</li> -->
							<li class="content_anim14"><div data-icon="&#xe353;" class="icon_small float-left"></div><h6>Log 2,000 user sessions to test Raheem's UX, API, and performance </h6></li>
							<li class="content_anim15"><div data-icon="&#xe0a9;" class="icon_small float-left"></div><h6>Make high-level data and insights available via an online dashboard</h6></li>
							<li class="content_anim15"><div data-icon="&#xe34f;" class="icon_small float-left"></div><h6>Build out dashboard tools and analytics for various citizens & stakeholders</h6></li>
						</ul>

						
					</div>
				</div>
			</div>
		</section><!-- //Features - Video -->
		
		
		<!-- Reviews #################### -->
		
		<!-- <section id="reviews" class="subsection_parallax background_slider gradient_overlay"  data-stellar-background-ratio="0.6">
			<div class="container">
				<div class="row">
				</div>		
			</div>
		</section>< -->
		
		
		<!-- Reviews - Logos #################### -->
		
		<section id="team" class="subsection ">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
						<div class="intro content_anim12 align-center">
							<h6 class="super-title">	Our Product Team</H6>
							<h3>Making the world a better place.</h3>
							<p>Raheem is a project that is two years in the making. Thank you to our amazing and talented contributors that have made this journey possible.</p>
						</div>
					</div>
				</div>
				
				<div class="row team-photos">
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/brandon.png" alt="">
						<h6>Brandon Anderson</h6>
						<p>Founder, Activist and Social Innovator</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/khadijah.png" alt="">
						<h6>Khadijah A. Coakley</h6>
						<p>Chief Product Lead and Financial Strategist</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/fred.png" alt="">
						<h6>Fred Zaw</h6>
						<p>Product Design Lead and UX Design</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/anu.png" alt="">
						<h6>Anu Mohajerjasbi </h6>
						<p>User Research Lead and UX Design Strategist</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/marquise.png" alt="">
						<h6>Marquise McCoy </h6>
						<p>Public Relations and Media Strategist</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/michael.png" alt="">
						<h6>Michael J. A. Davis</h6>
						<p>Branding, Identity and UX Design Strategist</p>
					</div>
				</div>				
				<div class="row team-photos">
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/jordan.png" alt="">
						<h6>Jordan Lawler</h6>
						<p>Lead FB Messenger Bot and API Developer</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/zack.png" alt="">
						<h6>Zachary Rolland</h6>
						<p>Facebook Messenger Bot Developer</p>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/ketan.png" alt="">
						<h6>Ketan Anjaria</h6>
						<p>Lead Technical Advisor, Rails & API Development</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/phillip.png" alt="">
						<h6>Phillip Hunter</h6>
						<p>Lead Content Strategist and UX Advisor</p>
					</div>
					
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/chi.png" alt="">
						<h6>Chi Thorsen</h6>
						<p>Apprentice Designer at Junior.io</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/ryan.png" alt="">
						<h6>Ryan Bealer</h6>
						<p>Lead FB Messenger Bot and API Developer</p>
					</div>
				</div>

				<div class="row team-photos">
					
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/sam.png" alt="">
						<h6>Sam Weiller	</h6>
						<p>Technical Advisor and FB Messenger Bot Developer</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/najja.png" alt="">
						<h6>Najja Osiomwan</h6>
						<p>API Lead, Technical Researcher and Advisor</p>
					</div>

					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/nicole.png" alt="">
						<h6>Nicole Concepcion</h6>
						<p>Product Experience Designer and Advisor</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/colleen.png" alt="">
						<h6>Colleen Julliano</h6>
						<p>FB Messenger Bot Content Strategist</p>
					</div>
					
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/arman.png" alt="">
						<h6>Arman Nobari</h6>
						<p>UX Design and Strategy Advisor</p>
					</div>
					
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/baraka.png" alt="">
						<h6>B. Kombe-Jarvis </h6>
						<p>API Lead, Technical Researcher and Advisor</p>
					</div>
				</div>

				<div class="row team-photos">
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/renna.png" alt="">
						<h6>Renna Al-Yassini</h6>
						<p>Lead Product and FB Messenger Bot Advisor</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/rinee.png" alt="">
						<h6>Rinee Shah</h6>
						<p>Brand and Identity Lead, Art & Creative Direction</p>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 reviews_logo ">
						<img src="images/team/anthony.png" alt="">
						<h6>Anthony Cook </h6>
						<p>Coporate Advisor and Professor of Law</p>
					</div>
				</div>						
			</div>	
		</section><!-- //Reviews - Logos-->
		
		
		<!-- Newsletter #################### -->
		
		
		
		

		<!-- Screenshots #################### -->
		
		<!-- <section id="screenshots" class="subsection">
				
			
		</section> --><!-- //Screenshots-->


		
		
		
		<section id="contact" class="subsection background_grey">
			<div class="container">
				<h6 class="super-title">Contact Us</H6>
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 content_anim29">
						<h3>We're always looking for new partners.</h3>
						<p>Interested in supporting Raheem? We're currently looking for collaborators, partners, and investors.</p>
					
						<ul class="icon_list">
							<li><div data-icon="&#xe1b4;" class="icon_small float-left"></div>
								<h6>Washington, DC<br>United States</h6>
							</li>
							<li><div data-icon="&#xe23a;" class="icon_small float-left"></div><h6>(555) 555-5555</h6></li>
							<li><div data-icon="&#xe242;" class="icon_small float-left"></div><h6>hello@raheem.ai</h6></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim30">
						<h3>Have feedback? Shoot us a quick note. We're all ears.</h3>
						<p>Use the form below to shoot us a note. Someone from our team will get back to you asap. </p>
					
					
						<!-- Contact Form -->
						<form action="php/contactform.php" id="contact-form" method="post">
							<div class="contact_form">
								<div class="input-field">
					  				<input id="first_name" type="email" name="contact-name">
					  				<label for="first_name">Your Name</label>
					  			</div>
					  			<div class="input-field">
					  				<input id="contact_email" type="email" name="contact-email">
					  				<label for="contact_email">Last Name</label>
					  			</div>
					  			<div class="input-field">
						  			<textarea class="materialize-textarea" name="contact-message"></textarea>
						  			<label>Message</label>
						  		</div>
				  			</div>	
				  			<button class="btn waves-effect waves-light" type="submit" name="action">Send</button>
						</form>
						<!-- //Contact Form -->
					
					
						<div id="message"><div id="alert"></div></div><!-- Message container --> 
					</div>
				</div>				
			</div>
		</section><!-- //More info -->
		
		
		<section id="footer" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
					
						<!-- Social Icons -->
						<div class="social_icons_container align-center">
					  	<div class="social_icons">
                <ul>
                  <li><div data-icon="&#xe281;" class="social_icon facebook_icon" onclick="location.href='#'"></div></li>
                  <li><div data-icon="&#xe279;" class="social_icon linkdin_icon" onclick="location.href='#'"></div></li>
                </ul>
					    </div>
				    </div>	
						<!-- //Social Icons -->

					<p><small>Copyright © 2016 Raheem AI Coded with ❤ by OpenVentures</small></p>	
					</div>
				</div>				
			</div>
		</section><!-- //More info -->
		

	</div><!-- //preloader -->
	
   
	<!-- JavaScript plugins comes here -->	
    <script src="js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="js/classie.js"></script>                 <!-- Class helper function -->
	<script src="js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="js/preloader.js"></script>               <!-- Preloader -->
    <script src="js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="js/jquery.fitvids.js"></script>      	  <!-- Responsive Video -->
    <script src="js/jquery.stellar.js"></script>      	  <!-- Parallax backgrounds -->
    <script src="js/owl.carousel.js"></script>      	  <!-- Owl Carousel --> 
    <script src="js/main.js"></script>                    <!-- Main Js file -->
    
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">
        $('document').ready(function()
            {
            $('#subscribe-form').ajaxForm( {
                target: '#preview',
                success: function() {       
                      $('#preview').addClass( "show_message" );
                    }
                });
            });
    </script>

    <!-- MOBILE NAVIGATION -->
    <script>
        var showRight_1 = document.getElementById( "showRight_1" ),
        showRight_2 = document.getElementById( "showRight_2" ),
        hideRight = document.getElementById( 'hideRight' ),
        menuRight = document.getElementById( 'cbp-spmenu-s2' ),
        body = document.body;
        
        showRight_1.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_1' );
            return false;
        };
        
        showRight_2.onclick = function(event) {
       		"use strict";
       		event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    
        hideRight.onclick = function(event) {
        	"use strict";
        	event.preventDefault();
            classie.toggle( this, 'active' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            disableOther( 'showRight_2' );
            return false;
        };
    </script>
    
    
    <!-- Nav Bar show/hide after scrolling -->
	<script>
	var $head = $( '#menu_bar' );
	$( '.menu_bar-waypoint' ).each( function(i) {
		var $el = $( this ),
			animClassDown = $el.data( 'animateDown' ),
			animClassUp = $el.data( 'animateUp' );
			

		$el.waypoint( function( direction ) {
			if( direction === 'down' && animClassDown ) {
				$head.attr('class', 'menu_bar ' + animClassDown);
			}
			else if( direction === 'up' && animClassUp ){
				$head.attr('class', 'menu_bar ' + animClassUp);
			}
		}, { offset: function() {
			navbarheight = $("#menu_bar").outerHeight()+1;
			return navbarheight;
			}
		 } );
	} );
	</script>
    
  </body>
</html>


		<!-- <div class="row text-left">
			<div class="col-md-6">
			<div class="more_info_mockup content_anim7">
				<img src="images/assets/animation/chat-1.svg" alt="" class="mockup-animation2 "> 
			</div>

			<div class="more_info_mockup content_anim8 ">
				<img src="images/assets/animation/chat-2.svg" alt="" class="mockup-animation2 "> 
			</div>

			<div class="more_info_mockup content_anim9 ">
				<img src="images/assets/animation/chat-2.svg" alt="" class="mockup-animation2 "> 
			</div>
		</div>	 -->